<div style="padding: 16px">
  <div fxLayout="column" fxLayoutAlign="space-between center">
    <br>
    <img style="width: 343px;" src="/assets/spider.svg">
    <br><br>
    <div style="font-size: 26px; border-bottom: 1px solid; padding-bottom: 20px;">Welcome to Black Widow</div>

    <div style="width: 343px; margin-top: 20px;">
      <mat-list role="list">
        <mat-list-item routerLink="/spiders" style="cursor: pointer; color: #348807; font-size: 22px" role="listitem">
          <mat-icon mat-list-icon>chevron_right</mat-icon>
          Spiders
        </mat-list-item>
        <mat-list-item routerLink="/crawls" style="cursor: pointer; color: #348807; font-size: 22px" role="listitem">
          <mat-icon mat-list-icon>chevron_right</mat-icon>
          Crawls
        </mat-list-item>
        <mat-list-item style="cursor: pointer; color: #348807; font-size: 22px" role="listitem">
          <mat-icon mat-list-icon>chevron_right</mat-icon>
          Info
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
