<div style="padding-top: 55px; background-color: black; font-family: 'IBM Plex Mono', monospace;; color: #348807;">
    <mat-toolbar
      style="background-color: #242424;
      color: #348807;
      font-size: 45px;
      height: 55px;
      position: fixed;
      z-index: 1000;
      margin-top: -55px;
    ">
      <div fxLayout="column" fxLayoutAlign="space-between center" style="width: 100%">
        <div  routerLink="/" fxLayout="row" fxLayoutAlign="center center" style="width: 100%; cursor: pointer;">
          <img src="/assets/spider.svg" style="height: 40px; margin-right: 10px;" alt="">
          BLKWDW
        </div>
      </div>
  
    </mat-toolbar>
  
    <router-outlet></router-outlet>
  </div>
  